<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{panelName}}</h3>
    </div>
    <div class="panel-body">
        <p>{{description}}</p>
        <ul>
            <li><strong>Route</strong>: {{url}}</li>
            <li><strong>JS File</strong>: {{js}}</li>
            <li><strong>View Template</strong>: {{template}}</li>
        </ul>

    </div>
    <div class="panel-footer clearfix">
        <a class="btn btn-success" href="{{url}}">Check the output!</a>
    </div>

</div>