<div class="container">
    <h1>Directive Restrictions</h1>
    <h4>This page is used to show restrictions that can be attached to directives. </h4>
    <p>
        To see the output, open the console. (Ctrl, Shift, J in Chrome, Ctrl, Shift, K in FireFox).
        This file  is located at 'src/partials/templates/directive_restrictions.html'. The JS file is located at 'src/resources/js/controllers/restrictionsCtrl.js'.
    </p>
    <p>
        The words printed below in red are the element types that each directive is restricted to. There is also a comment restriction that cannot be seen here for obvious reasons. The messages logged to the console are attached to each directive.
    </p>
    These files can be found at:
    <ul>
        <li><strong>HTML</strong>: <em>'src/resources/partials/directive_restrictions.html</em></li>
        <li><strong>JS</strong>: <em>'src/resources/js/controllers/restrictionsCtrl.js</em></li>
    </ul>
    <elementrest><em class="directiveRestrictionsElement">Element</em></elementrest>
    <br>
    <div restrictions><em class="directiveRestrictionsElement">Attribute</em></div>
    <br>
    <div class="classrest"><em class="directiveRestrictionsElement">Class</em></div>
    <br>
    <!-- directive:commentrest -->
    <div></div>
</div>