<div class="container">
    <h1>Grunt</h1>
    <h4>This page details how to implement several Grunt tasks</h4>
</div>
<div class="row">
    <grunt-panel
            name="Concat"
            url="#/grunt/concat"
            description="Concat is used to concatenate files into a single file"
            class="col-md 4">
    </grunt-panel>
    <grunt-panel
            name="Uglify"
            url="#/grunt/uglify"
            description="Uglify is used to minfy JavaScript files"
            class="col-md 4">
    </grunt-panel>
    <grunt-panel
            name="CssMin"
            url="#/grunt/cssmin"
            description="Css min is used to minify css"
            class="col-md 4">
    </grunt-panel>
</div>

