<div class="mainContainer" data-ng-app="myApp">
    <div ng-controller="ScopeCtrl">
        <div class="row">
            <character class="col-xs-4"
                       name="Roman Reigns"
                       image="resources/img/reigns.jpg"
                       movetype="movetype"
                       use-move="getMove(name, movetype, move)">
            </character>

            <character class="col-xs-4"
                       name="Seth Rollins"
                       image="resources/img/rollins.jpg"
                       movetype="movetype"
                       use-move="getMove(name, movetype, move)">
            </character>

            <character class="col-xs-4"
                       name="Dean Ambrose"
                       image="resources/img/ambrose.jpg"
                       movetype="movetype"
                       use-move="getMove(name, movetype, move)">
            </character>

        </div>
    </div>
</div>